.containerMob {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto';
    color: #626A74;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 -4px 10px #0000000d;
    min-height: 640px;
}

.contentMob {
    padding: 16px 16px 8px 16px;
    font-size: 14px;
    line-height: 150%;
    text-align: justify;

}

.titleMob {
    border: 0;
    color: #192433;
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    margin: 0 auto;
    max-width: 90%;
    padding: 16px 0px 16px 0px;
    text-align: center;
    vertical-align: baseline;
    width: max-content
}
.topbarMob {
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0 auto;
    padding: 12px 16px 12px 16px;
    text-align: center;
    width: calc(100% - 32px);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
}

.topbarMobContent {
    display: flex;
    color: #1C6FF7;
    font-size: 14px;
    gap: 12px;
    align-items: center;
}

.subtitleMob {
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: calc(100% - 32px);
}

.subtitleMobContent {
    display: flex;
    color: #626A74;
    font-size: 12px;
    /* font-weight: 500; */
    gap: 6px;
    align-items: center;
}


.CtaButton {
    align-self: stretch;
    height: 48px;
    background: #1C6FF7;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 8px;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-flex;
    min-width: 220px;
}

.CtaButton:hover {
    background: #002DCB;
    cursor: pointer;
}

.CtaBlockMob {
    width: 375px;
    height: 80px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}

ul {
    list-style: disc;
    padding: 0.5em 0px 0.5em 2em;
}